@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgba(230, 228, 228, 0.171);
}
.dashboard-content::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes like {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
